# Database
POSTGRES_USER=ethanalyst
POSTGRES_PASSWORD=ethanalyst_secret
POSTGRES_DB=eth_behavior
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Ethereum Node
ETH_RPC_HTTP=http://100.100.0.126:8547
ETH_RPC_WS=ws://100.100.0.126:8548
ETH_BEACON_API=http://100.100.0.126:5052

# API
API_HOST=0.0.0.0
API_PORT=3001

# Frontend
REACT_APP_API_URL=http://localhost:3001
